{{>menu}}
<br> 
<h2>Login de usuario :</h2>
<hr>
<br> 

<form action="/api/sessions/registro" method="post"> 
<input type="email" name="email" placeholder="email">
<input type="password" name="password" placeholder="password">

<input type="submit" value="Login" >
</form>
